
.Home {
    color: #3caa9b;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all .5s ease-in-out;
    
   
    /* display: flex; */
    /* align-items: center; */
  
  }
  
  .Home:hover {
    text-decoration: none;
    color: #8fb325;
    /* border-bottom: 2px solid #367f9e; */
  }
  
  .J {
      /* background-color: #3d4026d5; */
    background-color:  #305a6ce6;;
  }
  
  .footer {
      display: flex;
      padding: 1rem 0;
  }
  
  .footer ul { 
      display: flex;
   }
  
  .footer ul li {
      margin-left: 16px;
  }
  
  .flux {
    font-family: neon;
    color: #426DFB;
    text-shadow: 0 0 2vw #2356FF;
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  